@media (min-width: 768px) and (max-width: 1023px) { 
    .menu{
    position: fixed;
    right: 0;
    left: 0;
    padding: 13px 0;
    z-index: 1030;
    }
  .menu1 ul li {
    display: inline-block;
    
    margin-right: 20px;
    }
    .menu img{
        width:25%;
        margin: 0;
       
    }
    .menu1 .social li {
    margin-right: 0;
}
    .logo{
        display:inline-flex;
    }
    .logo h6 {
    margin: 31px 0px 31px 31px;
}
    .date{
        width:45%;
    }
    .home{
       padding-top: 35%;
    padding-bottom: 13%;
    }
}

@media (min-width: 480px) and (max-width: 767px){
   
      .menu{
    position: fixed;
    right: 0;
    left: 0;
    padding: 13px 0;
    z-index: 1030;
    }
  .menu1 ul li {
    display: inline-block;
    
    margin-right: 20px;
    }
    .menu img{
        width:25%;
        margin: 0;
       
    }
    .menu1 .social li {
    margin-right: 0;
}
    .logo{
        display:inline-flex;
    }
    .logo h6 {
    margin: 31px 0px 31px 31px;
}
    .date{
        width:45%;
    }
    .home{
       padding-top: 35%;
    padding-bottom: 13%;
    }
  
}

@media (min-width: 360px) and (max-width: 479px){
        .menu{
    position: fixed;
    right: 0;
    left: 0;
    padding: 13px 0;
    z-index: 1030;
    }
  .menu1 ul li {
    display: inline-block;
    
    margin-right: 20px;
    }
    .menu img{
        width:25%;
        margin: 0;
       
    }
    .menu1 .social li {
    margin-right: 0;
}
    .logo{
        display:inline-flex;
    }
    .logo h6 {
    margin: 31px 0px 31px 31px;
}
    .date{
        width:45%;
    }
    .home{
       padding-top: 35%;
    padding-bottom: 13%;
    }
}
